body {
    /*background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://c2.staticflickr.com/6/5657/21910039498_907e679b57_h.jpg');
    background-size: cover;
    width: 100%;*/
}

#countdown p{
    text-align: center;
    font-size: 5em;
    color: white;
}
.section p {
    font-size: 100px;
}
#countdown .countdown-info {
    font-size: 2em;
}

.logo-header {
    width: 40%;
    max-width: 250px;
    margin-top: 25px;
}

h1, h2, h3 {
    color: white;
}

.white {
    background-color: white;
    max-height: 30em;
    overflow-y: scroll;
}

/*
Comment
 */
.background-image {
    position: fixed;
    left: -15px;
    right: -15px;
    top: -15px;
    bottom: -15px;
    z-index: -1;

    display: block;
    background-image: -moz-linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("https://2020.menlohacks.com/img/banner/background.jpg");
    background-image: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("https://2020.menlohacks.com/img/banner/background.jpg");
    background-image: -ms-linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("https://2020.menlohacks.com/img/banner/background.jpg");
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("https://2020.menlohacks.com/img/banner/background.jpg");
    background-size: cover;
    width: calc(100% + 30px);
    height: calc(100% + 30px);

    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);

    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.event-ongoing {
    background-color: #337ab7 !important;
    color: white;
}

.event-ongoing a {
    color: white;
}

.ui-widget.ui-widget-content {
    border: 0 !important;
}
.ui-widget-content {
    background: transparent !important;
}

.ui-widget-header {
    border: 1px solid transparent !important;
    background: transparent !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-radius: 3px;
}

ul .ui-tabs-nav {
    position: fixed !important;
    z-index: 1000;
}

#tickets {
    margin-top: 20px;
    margin-bottom: 10px;
}
#tickets h2, #tickets button {
    display: inline;
}

#tickets button {
    float: right;
}

.open-ticket {
    background-color: lightblue;
}

.in-progress-ticket {
    background-color: lightgreen;
}

.expired-ticket {
    background-color: lightcoral;
}

.closed-ticket {
    background-color: lightgray;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background-color: #7D5BA6;
    border-color: #7d2da6;
}

#logout-li, #create-li {
    float: right;
}
body {
    overflow-x: hidden;
}
